<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - IFoundit</title>
    @*Bootstrap*@
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    @*Jquery*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @* Icons *@
    <script src="https://use.fontawesome.com/44b4026f96.js"></script>
    @*favicon*@
    <link rel="shortcut icon" type="image/jpg" href="/Images/Logo.png" />
</head>
<body>
    <header>
        <!--- Navbar --->
        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <a class="navbar-brand text-white" href="/"><img style="max-width:2rem" src="~/Images/Logo.png" />IFOUNDIT</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nvbCollapse" aria-controls="nvbCollapse">
                    <i style="color:#F9FAFB" class="fa fa-th-list fa-fw "></i>
                </button>
                <div class="collapse navbar-collapse" id="nvbCollapse">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item pl-1">
                            <a class="nav-link" href="/"><i class="fa fa-home fa-fw mr-1"></i>Inicio</a>
                        </li>
                        <li class="nav-item pl-1">
                            <a class="nav-link" href="/nosotros"><i class="fa fa-info-circle fa-fw mr-1"></i>Nosotros</a>
                        </li>
                        @*<li class="nav-item active pl-1">
                                <a class="nav-link" href="#"><i class="fa fa-th-list fa-fw mr-1"></i>Nosotros</a>
                            </li>*@
                        <li class="nav-item pl-1">
                            <a class="nav-link" href="/reporte"><i class="fa fa-user fa-fw"></i>Reportes</a>
                        </li>
                        <li class="nav-item pl-1">
                            <a class="nav-link" href="/contacto"><i class="fa fa-phone fa-fw mr-1"></i>Contacto</a>
                        </li>
                        <li>
                            <div class="dropdown">
                                <button class="btn btn-white dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  @if (ViewBag.Usuario!=null)
                                  {
                                    @ViewBag.Usuario.Nombre
                                  }
                                  else
                                  {
                                <text>Cuenta</text>
                                  }
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    @if (ViewBag.Usuario == null)
                                    {
                                        <a class="dropdown-item" href="/auth/signin">Login</a>
                                        <a class="dropdown-item" href="/auth/signup">Registrarse</a>
                                        }

                                    @if (ViewBag.Usuario != null)
                                    {
                                        @*<a class="dropdown-item" href="/auth/profile"><i class="fa fa-sign-in fa-fw mr-1"></i>Editar perfil</a>*@
                                        <a class="dropdown-item" href="/reporte/MisReportes"><i class="fa fa-sign-in fa-fw mr-1"></i>Mis Reportes</a>
                                        <a class="dropdown-item" href="/auth/logout"><i class="fa fa-sign-in fa-fw mr-1"></i>Cerrar Sesión</a>
                                    }
                                </div>
                            </div>
                        </li>
                        @*<li class="nav-item pl-1">
                            <a class="nav-link" href="#">
                                <input class="search" placeholder="Buscar" id="inputPassword">
                                <i class="fa fa-search"></i>
                            </a>
                        </li>*@
                    </ul>
                </div>
            </div>
        </nav>
        <!--# Navbar #-->
    </header>
    <div class="">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!--- Footer --->
    <footer>
        <div class="jumbotron jumbotron-fluid bg-secondary p-4 mt-5 mb-0">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 cizgi">
                        <div class="card bg-secondary border-0">
                            <div class="card-body text-light text-center">
                                <h5 class="card-title text-white display-4" style="font-size:30px">Ifoundit</h5>
                                <p class="d-inline lead">
                                    Búsqueda de objetos perdidos  y devolución de objetos encontrados
                                </p>

                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 cizgi">
                        <div class="card bg-secondary border-0">
                            <div class="card-body text-center">
                                <h5 class="card-title text-white display-4" style="font-size:30px">Contacto</h5>
                                <a class="text-light d-block lead" style="margin-left: -20px" href="#">
                                    <i class="fa fa-phone mr-2"></i>+51 968 362 425
                                </a>
                                <a class="text-light d-block lead" href="mailto:info@ifoundit.com">
                                    <i class="fa fa-envelope mr-2"></i>info@ifoundit.com
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                        <div class="card bg-secondary border-0">
                            <div class="card-body text-center">
                                <h5 class="card-title text-white display-4" style="font-size:30px">Redes Sociales</h5>

                                <a class="text-light" href="https://www.facebook.com/Ifoundit-101831245891009" target="_blank"><i class="fa fa-facebook-square fa-fw fa-2x"></i></a>

                                @*<a class="text-light" href="#"><i class="fa fa-twitter-square fa-fw fa-2x"></i></a>*@

                                <a class="text-light" href="#"><i class="fa fa-instagram fa-fw fa-2x"></i></a>

                                @*<a class="text-light" href="#"><i class="fa fa-linkedin fa-fw fa-2x"></i></a>*@

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr />
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="text-center">
                            <p style="color:white">
                                &copy; 2021 - IFoundit - Todos los derechos reservados @*Diseño y Programación*@
                                @*<a style="color:white" href=""><strong>...</strong></a>*@
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--# Footer #-->
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
