
@{
    ViewData["Title"] = "Reportes";
}
<link href="~/css/gridReportes.css" rel="stylesheet" />
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="text-right">
                <input type="button" name="Reporte" value="Crear Reporte" />
            </div>
        </div>
       
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="product_item">
                <div class="product_item_pic">
                    <div class="product_item_pics">
                        <img class="product_item_pics" src="/PostImg/billetera.png" alt="Alternate Text" />
                    </div>
                </div>
                <div class="product_text">
                    <h6>Nombre</h6>
                    <p>Descripción</p>
                    <p>Recompensa</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="product_item">
                <div class="product_item_pic">
                    <div class="product_item_pics">
                        <img class="product_item_pics" src="/PostImg/laptop.png" alt="Alternate Text" />
                    </div>
                </div>
                <div class="product_text">
                    <h6>Nombre</h6>
                    <p>Descripción</p>
                    <p>Recompensa</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="product_item">
                <div class="product_item_pic">
                    <div class="product_item_pics">
                        <img class="product_item_pics" src="/PostImg/dni.png" alt="Alternate Text" />
                    </div>
                </div>
                <div class="product_text">
                    <h6>Nombre</h6>
                    <p>Descripción</p>
                    <p>Recompensa</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="product_item">
                <div class="product_item_pic">
                    <div class="product_item_pics">
                        <img class="product_item_pics" src="/PostImg/llaves.png" alt="Alternate Text" />
                    </div>
                </div>
                <div class="product_text">
                    <h6>Nombre</h6>
                    <p>Descripción</p>
                    <label>Recompensa</label>
                </div>
            </div>
        </div>
    </div>
</div>

