@{
    ViewData["Title"] = "Inicio";
}
<link href="~/css/home.css" rel="stylesheet" /> 


<div class="div" style="background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */ color: #f1f1f1; /* Grey text */">
    <img class="img" src="~/Images/Background.jpg" />
    <div>
        <h1 class="centered">
            Si has perdido algo y no sabes dónde buscar...
            <br />
        </h1>
        <h2 class="centered1">
            O si lo haz encontrado y te gustaría localizar a su dueño...
        </h2>
    </div>
</div>


