
@{
    ViewData["Title"] = "Registrarse";
}

<link href="~/css/register.css" rel="stylesheet" />

<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->
        <!-- Icon -->
        <div class="fadeIn first">
            @*<img id="icon" src="~/Images/recortada.png" />*@
            <br />
            <h4 style="color:#808080">Crea una cuenta</h4>
        </div>
        <br />
        <!-- Login Form -->
        <form action="/Register/SignUp" method="post">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <input type="text" class="fadeIn second" name="Nombre" placeholder="Nombres">
                </div>
                <div class="col-lg-6 col-md-6">
                    <input type="text"  class="fadeIn third" name="Apellidos" placeholder="Apellidos">
                </div>
                <div class="col-lg-6 col-md-6">
                    <input type="text"  class="fadeIn second" name="Dni" placeholder="DNI">
                </div>
                <div class="col-lg-6 col-md-6" >
                    <h6 style="color:#808080 ">Sexo</h6>
                    <div style="display:inline; color:#808080">
                        <input style="display:inline" type="radio" value="M" name="Sexo">
                        <p style="display:inline">Masculino</p>
                        <input style="display:inline" type="radio" value="F" name="Sexo">
                        <p style="display:inline">Femenino</p>
                        <input style="display:inline" type="radio" value="N" name="Sexo">
                        <p style="display:inline">No Especifica</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <input type="text"  class="fadeIn second" name="Correo" placeholder="Correo">
                </div>
                <div class="col-lg-6 col-md-6">
                    <input type="password" class="fadeIn third" name="Contrasenia" placeholder="Contraseña">
                </div>
                <br />
                <br />
                <div class="col-md-12 col-md-12">
                    <input type="submit" class="fadeIn fourth" value="Registrarse">
                </div>
            </div>
        </form>

        <!-- Remind Passowrd -->
        <div id="formFooter">
            <a class="underlineHover" href="/login">Login</a>
        </div>

    </div>
</div>

