
@{
    ViewData["Title"] = "Login";
}

<link href="~/css/layout.css" rel="stylesheet" />
<br />
<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->
        <!-- Icon -->
        <div class="fadeIn first">
            @*<img id="icon" src="~/Images/recortada.png" />*@
            <br />
            <h4 style="color:#808080">Login</h4>
        </div>
        <br />
        <!-- Login Form -->
        <form action="/Login/SignIn" method="post">
            <input type="text" id="login" class="fadeIn second" name="correo" placeholder="Correo">
            <input type="password" id="password" class="fadeIn third" name="password" placeholder="Contraseña">
            <div class="container">
                <input type="submit" class="fadeIn fourth" value="Iniciar Sesión">
            </div>
        </form>

        <!-- Remind Passowrd -->
        <div id="formFooter">
            <a class="underlineHover" href="/">¿Olvidó su contraseña?</a>
        </div>

    </div>
</div>

