
@{
    ViewData["Title"] = "Recuperar Contraseña";
}

<link href="~/css/layout.css" rel="stylesheet" />
<br />
<div class="wrapper fadeInDown">
    <div id="formContent">
        <div class="fadeIn first">
            <br />
            <h4 style="color:#808080">¡Listo!</h4>
            <br />
            <div>
                <p>Revise su bandeja de entrada</p>
            </div>
        </div>
    </div>
</div>
