
@{
    ViewData["Title"] = "Contraseña cambiada";
}

<link href="~/css/layout.css" rel="stylesheet" />
<br />
<br />
<div class="wrapper fadeInDown">
    <div id="formContent">
        <div class="fadeIn first">
            <br />
            <br />
            <h4 style="color:#808080">Su contraseña se cambió correctamente</h4>
            <br />
            <br />
        </div>
    </div>
</div>
<br />
